.container {
  display: flex;
  flex-direction: column;
  font-family: var(--betterplace-font-families-fira-sans);
  gap: var(--betterplace-paragraph-spacing-sm);
}

.labelInput {
  font-weight: var(--betterplace-font-weights-bold);
}
.fieldInput {
  font: var(--betterplace-typography-base);
  max-width: 300px;
  border: 1px solid var(--betterplace-color-gray-400);
  border-radius: 3px;
  padding: 8px;
}

.fieldInput:hover {
  box-shadow: var(--betterplace-shadow-outer-neutral-soft-2);
}
.fieldDisabledInput:focus,
.fieldInput:focus {
  outline: 2px solid var(--betterplace-color-green-800);
  outline-offset: 2px;
}

.fieldDisabledInput {
  font: var(--betterplace-typography-base);
  color: var(--betterplace-color-gray-400);
  background-color: var(--betterplace-color-gray-100);
  max-width: 300px;
  border: 1px solid var(--betterplace-color-gray-400);
  border-radius: 3px;
  padding: 8px;
}
.invalid {
  border: 2px solid var(--betterplace-color-red-600);
}
